<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">
 <!-- 扫描 -->
   <context:component-scan base-package="com.hd.service.impl"></context:component-scan>
 
  <!-- 引入属性文件,db.properties位于src/main/resources目录下 -->
   <context:property-placeholder location="classpath:cjw.properties" />
  
 <!-- 获取 数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
      	<property name="driverClass" value="${jdbc.className}"></property>
		<property name="jdbcUrl"  value="${jdbc.url}"></property>
		<property name="user"  value="${jdbc.username}"></property>
		<property name="password"  value="${jdbc.password}"></property>
	</bean>
	<!-- 创建sessionfactory  -->
	 <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
         <!-- 加载mybatis.cfg.xml文件 -->
  <!--  <property name="configLocation" value="classpath:mybatis-config.xml"></property>         
  --> <!-- 自动扫描需要定义类别名的包，将包内的JAVA类的类名作为类别名 -->
               <property name="typeAliasesPackage" value="com.hd.model"></property>
  
    </bean>
    
      <!-- 自动扫描所有的Mapper接口与文件  匹配 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.hd.dao"></property>
    </bean>
 </beans>